*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #34245b 40%, #fff 100%);
}

h2 {
    margin-bottom: 50px;
}

a {
   text-decoration: none; 
}

.contenedor-principal{
    width: 100%;
    max-width: 400px;
    margin: auto;
    background: #000;
    text-align: center;
}

.contenedor-principal .contenedor-login {
    background-color: #fff;
    width: 100%;
    height: 100vh;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input, 
button{
    width: 100%;
    padding: 20px 30px;
    border: none;
    outline: none;
    margin-bottom: 30px;
}

input:focus{
    border: 1px solid #34245b;
    transition: .6s ease all;
}

button{
    background-image: linear-gradient(to right, #34245b 40%, #fff 100%);
    border-radius: 30px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

button:hover{
    opacity: 0.9s;
    transition: .3s ease all;
}

.register{
    color: #707070;
    font-size: 14px;
    margin-top: 60px;
}

.register a {
    color: #34245b;
}

.mensaje{
    color: aqua;
    font-size: 14px;
}

.contenedor-loader{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -70px;
}

.contenedor-loader.visible{
    display: block;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
.preloader {
    position: fixed;
    inset: 0;
    z-index: 999999;
    overflow: hidden;
    background: #fff;
    transition: all 0.6s ease-out;
  }
  
  .preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #fff;
    border-color: #34245b transparent;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1.5s linear infinite;
    animation: animate-preloader 1.5s linear infinite;
  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
   
